
      <form name="searchForm" action="/pub/dir" method="get">
        <h3>Find a tag:</h3>
        <ul>
          <li><input type="text" name="tagname" id="first" size="185" /></li>
        </ul>
        <p class="action"><input class="btn-secondary" type="submit" name="search" value="Search"/></p>
      </form>
