
        <form action="/nhome/create" method="GET" name="coldRegistrationForm" novalidate="novalidate" class="feature" data-jsenabled="check">
            <fieldset>
              <legend>Sign Up</legend>
              <ul>
                  <li id="first-name">
                   <label for="firstName-coldRegistrationForm" >First name</label>
                      <div class="fieldgroup">
                          <input type="text" name="firstName" value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55" maxlength="20" tabindex="5">
                      </div>
                  </li>
                
                <li id="last-name">
                  <label for="lastName-coldRegistrationForm" >Last name</label>
                    <div class="fieldgroup">
                      <input type="text" name="lastName" value="" id="lastName-coldRegistrationForm" autocomplete="on" size="55" maxlength="40" tabindex="6">
                    </div>
                  </li>

                <li id="email-address">
                  <label for="email-coldRegistrationForm" >Email address</label>
                    <div class="fieldgroup">
                      <input type="email" name="email" value="" id="email-coldRegistrationForm" type="email" autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled>
                    </div>
                </li>

                <li id="password">
                  <label for="password-coldRegistrationForm" >Password (6 or more characters)</label>
                    <div class="fieldgroup">
                      <input type="password" name="password" value="" id="password-coldRegistrationForm" tabindex="8">
                    </div>
                </li>
              </ul>

              <div class="form-bottom-row">
                <p class="policy"></p>
                <p class="action">
                  <input type="submit" name="" value="Join now" id="btn-submit" class="btn-action" tabindex="9">
                </p>
              </div>
            </fieldset>
          </form>

