
<%= form_for :user, :url => user_session_path,
                    :builder => InlineErrorsBuilder,
                    :method => :POST,
                    :role => :form do |f| %>

  <fieldset>
    <legend>Sign In</legend>
      <ul>
        
          <li>
            <label for="session_key-login" >Email address</label>

            <div class="fieldgroup">
              <span class="error" id="session_key-login-error"></span>
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </li>

          <li>
            <label for="session_password-login" >Password</label>
            <div class="fieldgroup">
              <span class="error" id="session_password-login-error"></span>
              <%= f.password_field :password, :class => 'form-control' %>
              <%= f.submit "Sign in", :class => "btn-secondary" %>
            </div>
          </li>

      </ul>
    </script>
  </fieldset>

 <% end %>