
<div class="clearfix top-space"></div>


<div id="main-wrapper">
  <div id="main">

    <header>
      <div id="content">
        <h2><span class="text-gradient"></span><span class="headline"><script>utmx_section("Headline")</script>
        Get to know each other better.
        </noscript></span></h2>
      </div>
    </header>

       
    <div class="two-row-image">
	  <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_1_150x150_v1.png" width="150" height="150" alt="Male Headshot" style='visibility:hidden'>
	  <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_3_150x150_v1.png" width="150" height="150" alt="Male Headshot">
	  <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_2_150x150_v1.png" width="150" height="150" alt="Female Headshot" style='visibility:hidden'>

	  <div class="clearfix top-space"></div>

      <div id="content">
        <h2> 
        	"King of SharedIn" 
        </h2>
        <br>
      </div>

      <div align="center" font-size="24px">
        <label> 
        	<a href="/users/1">
        		Ming Li
        	</a> with 100 connections 
        </label>
      </div>

    </div>

	<div class="leo-module mod-feat jointoday" id="module-id3" >
		<div class="header"><h2><script>utmx_section("Tagline")</script>Get started &ndash; it&rsquo;s free.</noscript></h2></div>
			<div class="content">
		      <p><br></p>

		      <%= render :partial => 'sign_up' %>

			</div>
		</div>
	</div>

  </div>
</div>


<div id="ghome-footer">
  <div id="search-browse">

    <div id="search">
		<%= render :partial => 'footer' %>
    </div>

    <div id="footer">
       <div class="wrapper" align="center">
         <ul id="nav-legal">
           <li><p id="copyright" class="guest">SharedIn <em>© 2014</em></p></li>
           <li><a href="#" target="_blank" rel="nofollow">Community</a></li>
           <li><a href="#">About us</a></li>
           <li class="last"><a href="#">Contact</a></li>
         </ul>
       </div>
    </div>

  </div>
</div>

