
<div id="main-wrapper">
  <div id="main">
    <div class="clearfix top-space"></div>
  </div>
</div>


<div id="main-wrapper">
  <div id="main">

    <%= render :partial => 'welcome/left_sidebar' %>
  
    <%= render :partial => 'welcome/user_list' %>

  </div>
</div>

