
   <div class="span3 siderbar">
      <div id="content">
        
          <br>
          <h2>all tags' info </h2><br>
 

            <table width=100%>
            <hr>
              <tr>
                <td width=10%><h4>tag_id</td>
                <td width=30%><h4>user_id</td>
                <td width=20%><h4>tag_name</td>
                <td width=40% align=right><h4>user_name</td>
              </tr>
            <div class="panel panel-default col-md-8 text-left">
            </div>
              <tr>
                <td width=10%><hr></td>
                <td width=10%><hr></td>
                <td width=10%><hr></td>
                <td width=10%><hr></td>
              </tr>

              <% @tags.each do |t| %>
              <tr>
                <td><%= t.id %></td>
                <td>
                  <%= content_tag :strong, t.user_id, :class => 'pull-left text-middle' %>
                </td>
                <td>
                  <%= content_tag :strong, t.name, :class => 'pull-left text-middle' %>
                </td>
                <td>
                  <%= content_tag :span, current_user.firstname, :class => 'text-muted pad-10 text-middle' %>
                </td>
                
              </tr>
              <% end %>
            </table>


      </div>
    </div>
