
<div id="main-wrapper">
  <div id="main">
    <div class="clearfix top-space"></div>
  </div>
</div>

<div id="main-wrapper">
  <div id="main">
    <a href="/"> Reture to homepage </a>
    <h2>Search "<%= @tagname %>" </h2><br>
    <ul class="search-result-list">
      <% @rets.each do |r| %>
        <li class="search-result clearfix">
          <%= gravatar_for r.user_id %>
          <%= r.name %>
          <div class="tag-name">
            <%= link_to get_user_name(r.user_id), class: "user-name" %>
          </div>
          <div class="search-result-action">
            <div class="primary-action-button">
              Connect
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

